# Scitech data import from Dimensions
 Made by: Dr. Keungoui Kim

In [1]:
### Library
import pandas as pd
import numpy as np
import math

### Directory Setting for Export
#dir = "E:/Google Drive (awekim@handong.edu)/[Research]/00_Dimensions/Dimension_files/" # Home
dir = "D:/Google Drive(awekim@handong.edu)/[Research]/00_Dimensions/Dimension_files/" # HGU

### Patent-Publication

# pat_pub_df_all 데이터프레임 생성
pat_pub_df_all = pd.DataFrame()
for i in range(2010, 2020):
    pat_pub_df = pd.read_csv(dir + "pat_pub_df_" + str(i) + "_EP.csv", encoding = "ISO-8859-1")
    pat_pub_df_all = pd.concat([pat_pub_df_all, pat_pub_df], axis = 0)

In [7]:
pat_pub_df_all.head()

              id publication_ids
0  EP-4043037-A1  pub.1030728546
1  EP-4043037-A1  pub.1012075997
2  EP-4043037-A1  pub.1035540339
3  EP-4043037-A1  pub.1010219600
4  EP-4043037-A1  pub.1005987679

### Patent

In [2]:
# *EP.csv로 끝나는 파일은 2010년 이후의 데이터를 포함하고 있음
# *EP.csv로 끝나는 모든 파일을 pat_data_df_all 이라는 이름의 데이터프레임으로 합치기
pat_data_df_all = pd.DataFrame()
for i in range(2010, 2020):
    pat_data_df = pd.read_csv(dir + "pat_data_df_" + str(i) + "_EP.csv", encoding = "ISO-8859-1")
    pat_data_df_all = pd.concat([pat_data_df_all, pat_data_df], axis = 0)

In [3]:
pat_data_df_all

,id,cpc,family_id,jurisdiction,priority_date,priority_year,publication_ids
0,EP-4043037-A1,"['C08B37/0015', 'A61K31/205', 'B82Y5/00', 'A61...",44146587,EP,2010-12-31,2010,"['pub.1030728546', 'pub.1012075997', 'pub.1035..."
1,EP-4008781-A1,"['C07K2317/14', 'C07K16/00', 'C07K16/461', 'C0...",46383849,EP,2010-12-31,2010,"['pub.1053480872', 'pub.1022466133', 'pub.1053..."
2,EP-3961214-A1,"['C40B30/04', 'C07K2317/56', 'G01N33/5052', 'G...",46383850,EP,2010-12-31,2010,"['pub.1072305575', 'pub.1021856358', 'pub.1013..."
3,EP-3575218-A1,"['H01Q9/0407', 'H05B6/10', 'H01Q1/368', 'H05B2...",45562427,EP,2010-12-31,2010,"['pub.1021325240', 'pub.1056215468']"
4,EP-3510873-A1,"['A61K31/7016', 'A23V2002/00', 'A23L33/125', '...",45496313,EP,2010-12-31,2010,"['pub.1067819379', 'pub.1020501958', 'pub.1022..."
...,...,...,...,...,...,...,...
9427,EP-3677391-A1,"['G05B19/41815', 'G05B2219/34348', 'G05B2219/3...",69104293,EP,2019-01-02,2019,['pub.1010808773']
9428,EP-3677321-A1,"['G06F30/17', 'A63C5/0405', 'A63C5/128', 'A63C...",69061098,EP,2019-01-02,2019,"['pub.1051188524', 'pub.1053597308', 'pub.1019..."
9429,EP-3677174-A1,"['G06T2207/20081', 'A61B5/113', 'G06T2207/1001...",65364692,EP,2019-01-02,2019,['pub.1065189265']
9430,EP-3470621-A1,"['C01B2203/085', 'E21B43/168', 'F23G2900/50208...",65010538,EP,2019-01-02,2019,"['pub.1032321652', 'pub.1092748675', 'pub.1084..."
9431,EP-3906310-A4,"['C12N15/8274', 'C12N15/8283', 'C12N15/8213', ...",71407390,EP,2019-01-01,2019,"['pub.1051793666', 'pub.1039900410', 'pub.1017..."

### Publication

In [14]:
# publication 폴더 안에 있는 pub_data_df 이름으로 시작하는 모든 파일 pub_data_df_all이라는 데이터프레임으로 합치기
pub_affiliations_df_all = pd.DataFrame()
for i in range(2000, 2020):
    pub_affiliations_df = pd.read_csv(dir + "publication/pub_affiliations_df_" + str(i) + "_EP_1.csv", encoding = "ISO-8859-1")
    pub_affiliations_df_all = pd.concat([pub_affiliations_df_all, pub_affiliations_df], axis = 0)

In [15]:
pub_affiliations_df_all.head

,city,city_id,country,country_code,id,name,raw_affiliation,state,state_code,pub_id
0,LÃ¼beck,2875601.0,Germany,DE,grid.4562.5,University of LÃ¼beck,"Institute of Physiology, University of Luebeck...",NaN,NaN,pub.1030162990
1,Stanford,5398563.0,United States,US,grid.168010.e,Stanford University,"Department of Structural Biology, Stanford Uni...",California,US-CA,pub.1037168643
2,Stanford,5398563.0,United States,US,grid.168010.e,Stanford University,"Department of Structural Biology, Stanford Uni...",California,US-CA,pub.1037168643
3,Stanford,5398563.0,United States,US,grid.168010.e,Stanford University,"Department of Structural Biology, Stanford Uni...",California,US-CA,pub.1037168643
4,Tokyo,1850147.0,Japan,JP,grid.410795.e,National Institute of Infectious Diseases,"Department of Virology II, National Institute ...",NaN,NaN,pub.1037168643

In [20]:
pub_affiliations_df_all[pub_affiliations_df_all.country_code == 'IE'].drop_duplicates()

,city,city_id,country,country_code,id,name,raw_affiliation,state,state_code,pub_id
206,Cork,2965140.0,Ireland,IE,grid.7872.a,University College Cork,"National Microelectronics Research Centre, Uni...",NaN,NaN,pub.1036061631
216,Cork,2965140.0,Ireland,IE,grid.7872.a,University College Cork,"Department of Physics, University College Cork...",NaN,NaN,pub.1036061631
2136,Dublin,2964574.0,Ireland,IE,grid.417322.1,Children's Health Ireland at Crumlin,"Children's Research Centre, Our Lady's Hospita...",NaN,NaN,pub.1005403461
5221,Dublin,2964574.0,Ireland,IE,grid.8217.c,Trinity College Dublin,"Department of Clinical Medicine, Trinity Colle...",NaN,NaN,pub.1083121224
6300,Dublin,2964574.0,Ireland,IE,grid.4912.e,Royal College of Surgeons in Ireland,From the Women and Infants Hospital and Brown ...,NaN,NaN,pub.1004793086
...,...,...,...,...,...,...,...,...,...,...
139501,Dundalk,2964540.0,Ireland,IE,NaN,"SCF Processing Ltd., Burex Business Park, Dund...","SCF Processing Ltd., Burex Business Park, Dund...",Leinster,NaN,pub.1052989082
140435,Galway,2964180.0,Ireland,IE,grid.6142.1,"National University of Ireland, Galway","Eng. &amp; Inf., Nat. Univ. of Ireland, Galway...",NaN,NaN,pub.1100928443
141257,Dublin,2964574.0,Ireland,IE,grid.15596.3e,Dublin City University,"School of Biotechnology, Dublin City Universit...",NaN,NaN,pub.1009705152
141259,Dublin,2964574.0,Ireland,IE,grid.414315.6,Beaumont Hospital,"Department of Academic Endocrinology, Beaumont...",NaN,NaN,pub.1009705152
141261,Dublin,2964574.0,Ireland,IE,grid.7886.1,University College Dublin,"Conway Institute, University College Dublin, D...",NaN,NaN,pub.1009705152

In [12]:
# publication 폴더 안에 있는 pub_data_df 이름으로 시작하는 모든 파일 pub_data_df_all이라는 데이터프레임으로 합치기
pub_data_df_all = pd.DataFrame()
for i in range(2000, 2020):
    pub_data_df = pd.read_csv(dir + "publication/pub_data_df_" + str(i) + "_EP_1.csv", encoding = "ISO-8859-1")
    pub_data_df_all = pd.concat([pub_data_df_all, pub_data_df], axis = 0)

In [13]:
pub_data_df_all.head()

,pub_id,title,category_for,issue,type,volume,year,journal.id,journal.title,authors,supporting_grant_ids
0,pub.1008506950,Erratum,"[{'id': '80034', 'name': '3101 Biochemistry an...",2,article,201,2010.0,jour.1019235,The Journal of Infectious Diseases,NaN,NaN
1,pub.1030162990,Efficacy of recombinant erythropoietins: is th...,"[{'id': '80003', 'name': '32 Biomedical and Cl...",5,article,24,2009.0,jour.1016325,Nephrology Dialysis Transplantation,"[{'affiliations': [{'city': 'LÃ¼beck', 'city_i...",NaN
2,pub.1037168643,Viral dsRNA Inhibitors Prevent Self-associatio...,"[{'id': '80034', 'name': '3101 Biochemistry an...",1,article,372,2007.0,jour.1077105,Journal of Molecular Biology,"[{'affiliations': [{'city': 'Stanford', 'city_...","['grant.2519270', 'grant.2633999', 'grant.2683..."
3,pub.1020077984,Current State of Human Embryonic Stem Cell Res...,"[{'id': '80049', 'name': '3206 Medical Biotech...",10,article,24,2006.0,jour.1094139,Stem Cells,"[{'affiliations': [{'city': 'Berlin', 'city_id...",NaN
4,pub.1077164400,SC5 mAb Represents a Unique Tool for the Detec...,"[{'id': '80034', 'name': '3101 Biochemistry an...",1,article,176,2006.0,jour.1077134,The Journal of Immunology,"[{'affiliations': [{'city': 'CrÃ©teil', 'city_...",NaN