# Scitech data import from Dimensions
 Made by: Dr. Keungoui Kim

In [1]:
### Library
import pandas as pd
import numpy as np
import math

### Directory Setting for Export

#dir = "E:/Google Drive (awekim@handong.edu)/[Research]/00_Dimensions/Dimension_files/" # Home
dir = "D:/Google Drive(awekim@handong.edu)/[Research]/00_Dimensions/Dimension_files/" # HGU

### Patent-Publication

In [26]:
# pat_pub_df_all 데이터프레임 생성
pat_pub_df_all = pd.DataFrame()
for i in range(2010, 2020):
    pat_pub_df = pd.read_csv(dir + "pat_pub_df_" + str(i) + "_EP.csv", encoding = "ISO-8859-1")
    pat_pub_df_all = pd.concat([pat_pub_df_all, pat_pub_df], axis = 0)

In [27]:
pat_pub_df_all.head()

              id publication_ids
0  EP-4043037-A1  pub.1030728546
1  EP-4043037-A1  pub.1012075997
2  EP-4043037-A1  pub.1035540339
3  EP-4043037-A1  pub.1010219600
4  EP-4043037-A1  pub.1005987679

### Patent

In [2]:
# *EP.csv로 끝나는 파일은 2010년 이후의 데이터를 포함하고 있음
# *EP.csv로 끝나는 모든 파일을 pat_data_df_all 이라는 이름의 데이터프레임으로 합치기
pat_data_df_all = pd.DataFrame()
for i in range(2010, 2020):
    pat_data_df = pd.read_csv(dir + "pat_data_df_" + str(i) + "_EP.csv", encoding = "ISO-8859-1")
    pat_data_df_all = pd.concat([pat_data_df_all, pat_data_df], axis = 0)

In [24]:
pat_data_df_all

,id,cpc,family_id,jurisdiction,priority_date,priority_year,publication_ids,associated_grant_ids,funders
0,EP-1223216-A1,['C12N15/115'],8170876,EP,2000-12-30,2000,['pub.1048486759'],NaN,NaN
1,EP-1219920-A3,"['G01N21/6458', 'G02B21/0076', 'G01N21/6428']",7669469,EP,2000-12-30,2000,['pub.1027015168'],NaN,NaN
2,EP-1219920-A2,"['G01N21/6458', 'G02B21/0076', 'G01N21/6428']",7669469,EP,2000-12-30,2000,['pub.1027015168'],NaN,NaN
3,EP-2627008-A3,"['H03M13/09', 'H04L1/0045', 'H04L1/005', 'H03M...",22982445,EP,2000-12-29,2000,"['pub.1094950548', 'pub.1093741568']",NaN,NaN
4,EP-2305797-A3,"['C12N15/8242', 'C12N9/0069', 'C12N15/8243', '...",26318622,EP,2000-12-29,2000,"['pub.1022420819', 'pub.1010408263']",NaN,NaN
...,...,...,...,...,...,...,...,...,...
9433,EP-3677391-A1,"['G05B19/41815', 'G05B2219/34348', 'G05B2219/3...",69104293,EP,2019-01-02,2019,['pub.1010808773'],NaN,NaN
9434,EP-3677321-A1,"['G06F30/17', 'A63C5/0405', 'A63C5/128', 'A63C...",69061098,EP,2019-01-02,2019,"['pub.1051188524', 'pub.1053597308', 'pub.1019...",NaN,NaN
9435,EP-3677174-A1,"['G06T2207/20081', 'A61B5/113', 'G06T2207/1001...",65364692,EP,2019-01-02,2019,['pub.1065189265'],NaN,NaN
9436,EP-3470621-A1,"['C01B2203/085', 'E21B43/168', 'F23G2900/50208...",65010538,EP,2019-01-02,2019,"['pub.1032321652', 'pub.1092748675', 'pub.1084...",NaN,NaN
9437,EP-3906310-A4,"['C12N15/8274', 'C12N15/8283', 'C12N15/8213', ...",71407390,EP,2019-01-01,2019,"['pub.1051793666', 'pub.1039900410', 'pub.1017...",NaN,NaN

### Publication

In [2]:
# publication 폴더 안에 있는 pub_data_df 이름으로 시작하는 모든 파일 pub_data_df_all이라는 데이터프레임으로 합치기
pub_affiliations_df_all = pd.DataFrame()
for i in range(2000, 2020):
    pub_affiliations_df = pd.read_csv(dir + "publication/pub_affiliations_df_" + str(i) + "_EP_1.csv", encoding = "ISO-8859-1")
    pub_affiliations_df_all = pd.concat([pub_affiliations_df_all, pub_affiliations_df], axis = 0)

In [3]:
pub_affiliations_df_all.pub_id.nunique()

426252

In [5]:
pub_affiliations_df_IE = pub_affiliations_df_all[pub_affiliations_df_all.country_code == 'IE'].drop_duplicates()
pub_affiliations_df_IE.pub_id.nunique()

2158

In [9]:
pub_affiliations_df_IE.head()

,city,city_id,country,country_code,id,name,raw_affiliation,state,state_code,pub_id
206,Cork,2965140.0,Ireland,IE,grid.7872.a,University College Cork,"National Microelectronics Research Centre, Uni...",NaN,NaN,pub.1036061631
216,Cork,2965140.0,Ireland,IE,grid.7872.a,University College Cork,"Department of Physics, University College Cork...",NaN,NaN,pub.1036061631
2136,Dublin,2964574.0,Ireland,IE,grid.417322.1,Children's Health Ireland at Crumlin,"Children's Research Centre, Our Lady's Hospita...",NaN,NaN,pub.1005403461
5221,Dublin,2964574.0,Ireland,IE,grid.8217.c,Trinity College Dublin,"Department of Clinical Medicine, Trinity Colle...",NaN,NaN,pub.1083121224
6300,Dublin,2964574.0,Ireland,IE,grid.4912.e,Royal College of Surgeons in Ireland,From the Women and Infants Hospital and Brown ...,NaN,NaN,pub.1004793086

In [8]:
pub_affiliations_df_IE.to_csv(dir + "IE/pub_affiliations_df_IE.csv", index = False)

In [12]:
# publication 폴더 안에 있는 pub_data_df 이름으로 시작하는 모든 파일 pub_data_df_all이라는 데이터프레임으로 합치기
pub_data_df_all = pd.DataFrame()
for i in range(2000, 2020):
    pub_data_df = pd.read_csv(dir + "publication/pub_data_df_" + str(i) + "_EP_1.csv", encoding = "ISO-8859-1")
    pub_data_df_all = pd.concat([pub_data_df_all, pub_data_df], axis = 0)

In [13]:
pub_data_df_all.head()

,pub_id,title,category_for,issue,type,volume,year,journal.id,journal.title,authors,supporting_grant_ids
0,pub.1008506950,Erratum,"[{'id': '80034', 'name': '3101 Biochemistry an...",2,article,201,2010.0,jour.1019235,The Journal of Infectious Diseases,NaN,NaN
1,pub.1030162990,Efficacy of recombinant erythropoietins: is th...,"[{'id': '80003', 'name': '32 Biomedical and Cl...",5,article,24,2009.0,jour.1016325,Nephrology Dialysis Transplantation,"[{'affiliations': [{'city': 'LÃ¼beck', 'city_i...",NaN
2,pub.1037168643,Viral dsRNA Inhibitors Prevent Self-associatio...,"[{'id': '80034', 'name': '3101 Biochemistry an...",1,article,372,2007.0,jour.1077105,Journal of Molecular Biology,"[{'affiliations': [{'city': 'Stanford', 'city_...","['grant.2519270', 'grant.2633999', 'grant.2683..."
3,pub.1020077984,Current State of Human Embryonic Stem Cell Res...,"[{'id': '80049', 'name': '3206 Medical Biotech...",10,article,24,2006.0,jour.1094139,Stem Cells,"[{'affiliations': [{'city': 'Berlin', 'city_id...",NaN
4,pub.1077164400,SC5 mAb Represents a Unique Tool for the Detec...,"[{'id': '80034', 'name': '3101 Biochemistry an...",1,article,176,2006.0,jour.1077134,The Journal of Immunology,"[{'affiliations': [{'city': 'CrÃ©teil', 'city_...",NaN

In [20]:
# pub_data_df_all 데이터프레임과 pub_affiliations_df_all 데이터프레임을 pub_data_df_all 데이터프레임을 기준으로 병합
pub_data_df_IE = pd.merge(pub_data_df_all, pub_affiliations_df_IE[['pub_id','country','country_code']], how = 'inner', on = 'pub_id')
pub_data_df_IE

,pub_id,title,category_for,issue,type,volume,year,journal.id,journal.title,authors,supporting_grant_ids,country,country_code
0,pub.1036061631,Development of a visible VCSEL-to-plastic opti...,"[{'id': '80011', 'name': '40 Engineering'}, {'...",5-6,article,3,2000.0,jour.1049830,Materials Science in Semiconductor Processing,"[{'affiliations': [{'city': 'Cork', 'city_id':...",NaN,Ireland,IE
1,pub.1036061631,Development of a visible VCSEL-to-plastic opti...,"[{'id': '80011', 'name': '40 Engineering'}, {'...",5-6,article,3,2000.0,jour.1049830,Materials Science in Semiconductor Processing,"[{'affiliations': [{'city': 'Cork', 'city_id':...",NaN,Ireland,IE
2,pub.1005403461,Rapid conversion of naive to effector T cell f...,"[{'id': '80003', 'name': '32 Biomedical and Cl...",3,article,116,2001.0,jour.1006333,Clinical & Experimental Immunology,"[{'affiliations': [{'city': 'Dublin', 'city_id...",NaN,Ireland,IE
3,pub.1083121224,Identification and characterization of a metal...,"[{'id': '80034', 'name': '3101 Biochemistry an...",8,article,65,1997.0,jour.1013611,Infection and Immunity,"[{'affiliations': [{'city': 'Dublin', 'city_id...",NaN,Ireland,IE
4,pub.1004793086,Comparison of Serum Markers in First-Trimester...,"[{'id': '80058', 'name': '3215 Reproductive Me...",5,article,108,2006.0,jour.1018250,Obstetrics and Gynecology,"[{'affiliations': [{'city': 'Providence', 'cit...",['grant.2526147'],Ireland,IE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4152,pub.1052989082,The Manufacture of Porous Ceramics Using Super...,"[{'id': '80011', 'name': '40 Engineering'}, {'...",3,article,10,2008.0,jour.1043951,Advanced Engineering Materials,"[{'affiliations': [{'city': 'Dundalk', 'city_i...",NaN,Ireland,IE
4153,pub.1100928443,Pushing the AI Envelope: Merging Deep Networks...,"[{'id': '80017', 'name': '46 Information and C...",2,article,7,2018.0,jour.1140631,IEEE Consumer Electronics Magazine,"[{'affiliations': [{'city': 'Galway', 'city_id...",NaN,Ireland,IE
4154,pub.1009705152,Vascular calcification in type-2 diabetes and ...,"[{'id': '80057', 'name': '3214 Pharmacology an...",NaN,article,82,2016.0,jour.1084818,Vascular Pharmacology,"[{'affiliations': [{'city': 'Dublin', 'city_id...",NaN,Ireland,IE
4155,pub.1009705152,Vascular calcification in type-2 diabetes and ...,"[{'id': '80057', 'name': '3214 Pharmacology an...",NaN,article,82,2016.0,jour.1084818,Vascular Pharmacology,"[{'affiliations': [{'city': 'Dublin', 'city_id...",NaN,Ireland,IE
4156,pub.1009705152,Vascular calcification in type-2 diabetes and ...,"[{'id': '80057', 'name': '3214 Pharmacology an...",NaN,article,82,2016.0,jour.1084818,Vascular Pharmacology,"[{'affiliations': [{'city': 'Dublin', 'city_id...",NaN,Ireland,IE

In [21]:
pub_data_df_IE.to_csv(dir + "IE/pub_data_df_IE.csv", index = False)

In [29]:
pat_pub_df_all

                  id publication_ids
0      EP-4043037-A1  pub.1030728546
1      EP-4043037-A1  pub.1012075997
2      EP-4043037-A1  pub.1035540339
3      EP-4043037-A1  pub.1010219600
4      EP-4043037-A1  pub.1005987679
...              ...             ...
23147  EP-3470621-A1  pub.1016475670
23148  EP-3470621-A1  pub.1032467174
23149  EP-3906310-A4  pub.1051793666
23150  EP-3906310-A4  pub.1039900410
23151  EP-3906310-A4  pub.1017747734

[449588 rows x 2 columns]

In [35]:
pat_pub_df_all.rename(columns={'publication_ids':'pub_id'})

                  id          pub_id
0      EP-4043037-A1  pub.1030728546
1      EP-4043037-A1  pub.1012075997
2      EP-4043037-A1  pub.1035540339
3      EP-4043037-A1  pub.1010219600
4      EP-4043037-A1  pub.1005987679
...              ...             ...
23147  EP-3470621-A1  pub.1016475670
23148  EP-3470621-A1  pub.1032467174
23149  EP-3906310-A4  pub.1051793666
23150  EP-3906310-A4  pub.1039900410
23151  EP-3906310-A4  pub.1017747734

[449588 rows x 2 columns]

In [36]:
pat_pub_df_IE = pd.merge(pat_pub_df_all.rename(columns={'publication_ids':'pub_id'}), pub_affiliations_df_IE[['pub_id','country','country_code']], how = 'inner', on = 'pub_id')
pat_pub_df_IE

                 id          pub_id  country country_code
0     EP-2658984-B1  pub.1008300194  Ireland           IE
1     EP-3686280-A1  pub.1008300194  Ireland           IE
2     EP-2659402-A4  pub.1095250865  Ireland           IE
3     EP-2471929-A1  pub.1014332011  Ireland           IE
4     EP-2444495-A1  pub.1014332011  Ireland           IE
...             ...             ...      ...          ...
3746  EP-3909038-A4  pub.1105021415  Ireland           IE
3747  EP-3677259-A1  pub.1009705152  Ireland           IE
3748  EP-3677259-A1  pub.1009705152  Ireland           IE
3749  EP-3677259-A1  pub.1009705152  Ireland           IE
3750  EP-3821341-A4  pub.1100928443  Ireland           IE

[3751 rows x 4 columns]

In [37]:
pat_pub_df_IE.to_csv(dir + "IE/pat_pub_df_IE.csv", index = False)

In [22]:
# patent 폴더 안에 있는 patent_data_df 이름으로 시작하는 모든 파일 patent_data_df_all이라는 데이터프레임으로 합치기
pat_data_df_all = pd.DataFrame()
for i in range(2000, 2020):
    pat_data_df = pd.read_csv(dir + "patent/pat_data_df_" + str(i) + "_EP.csv", encoding = "ISO-8859-1")
    pat_data_df_all = pd.concat([pat_data_df_all, pat_data_df], axis = 0)

In [23]:
pat_data_df_all

,id,cpc,family_id,jurisdiction,priority_date,priority_year,publication_ids,associated_grant_ids,funders
0,EP-1223216-A1,['C12N15/115'],8170876,EP,2000-12-30,2000,['pub.1048486759'],NaN,NaN
1,EP-1219920-A3,"['G01N21/6458', 'G02B21/0076', 'G01N21/6428']",7669469,EP,2000-12-30,2000,['pub.1027015168'],NaN,NaN
2,EP-1219920-A2,"['G01N21/6458', 'G02B21/0076', 'G01N21/6428']",7669469,EP,2000-12-30,2000,['pub.1027015168'],NaN,NaN
3,EP-2627008-A3,"['H03M13/09', 'H04L1/0045', 'H04L1/005', 'H03M...",22982445,EP,2000-12-29,2000,"['pub.1094950548', 'pub.1093741568']",NaN,NaN
4,EP-2305797-A3,"['C12N15/8242', 'C12N9/0069', 'C12N15/8243', '...",26318622,EP,2000-12-29,2000,"['pub.1022420819', 'pub.1010408263']",NaN,NaN
...,...,...,...,...,...,...,...,...,...
9433,EP-3677391-A1,"['G05B19/41815', 'G05B2219/34348', 'G05B2219/3...",69104293,EP,2019-01-02,2019,['pub.1010808773'],NaN,NaN
9434,EP-3677321-A1,"['G06F30/17', 'A63C5/0405', 'A63C5/128', 'A63C...",69061098,EP,2019-01-02,2019,"['pub.1051188524', 'pub.1053597308', 'pub.1019...",NaN,NaN
9435,EP-3677174-A1,"['G06T2207/20081', 'A61B5/113', 'G06T2207/1001...",65364692,EP,2019-01-02,2019,['pub.1065189265'],NaN,NaN
9436,EP-3470621-A1,"['C01B2203/085', 'E21B43/168', 'F23G2900/50208...",65010538,EP,2019-01-02,2019,"['pub.1032321652', 'pub.1092748675', 'pub.1084...",NaN,NaN
9437,EP-3906310-A4,"['C12N15/8274', 'C12N15/8283', 'C12N15/8213', ...",71407390,EP,2019-01-01,2019,"['pub.1051793666', 'pub.1039900410', 'pub.1017...",NaN,NaN

In [45]:
pat_data_df_IE = pd.merge(pat_data_df_all.rename(columns={'publication_ids':'pub_id'}), pat_pub_df_IE['id'], how = 'inner', on = 'id')
pat_data_df_IE

,id,cpc,family_id,jurisdiction,priority_date,priority_year,pub_id,associated_grant_ids,funders
0,EP-2658984-B1,"['C12N9/2434', 'C12P19/14', 'Y02E50/10', 'C12P...",43971709,EP,2010-12-31,2010,"['pub.1001182162', 'pub.1008300194', 'pub.1052...",NaN,NaN
1,EP-2659402-A4,"['G06F16/9535', 'G06F16/245', 'G06F16/9024', '...",46383463,EP,2010-12-30,2010,['pub.1095250865'],NaN,NaN
2,EP-2471929-A1,"['C12N9/2402', 'C12Q1/34', 'C12N15/8258', 'C07...",44044629,EP,2010-12-29,2010,"['pub.1006369881', 'pub.1037402439', 'pub.1009...",NaN,NaN
3,EP-2471804-A1,"['C12Q1/485', 'A61P31/04', 'A61P43/00', 'C07H1...",43618168,EP,2010-12-27,2010,"['pub.1013056158', 'pub.1052143712', 'pub.1055...",NaN,NaN
4,EP-2468764-A1,['C07K14/525'],44202115,EP,2010-12-24,2010,"['pub.1030898187', 'pub.1045393989', 'pub.1050...",NaN,NaN
...,...,...,...,...,...,...,...,...,...
3746,EP-3909038-A4,"['G06Q10/083', 'G06Q50/30', 'G08G3/00', 'G06Q5...",71521893,EP,2019-01-11,2019,"['pub.1105021415', 'pub.1003941339']",NaN,NaN
3747,EP-3677259-A1,"['A61K31/405', 'A61K45/06', 'A61P9/10', 'A61K3...",65009635,EP,2019-01-07,2019,"['pub.1056716149', 'pub.1007429996', 'pub.1032...",NaN,NaN
3748,EP-3677259-A1,"['A61K31/405', 'A61K45/06', 'A61P9/10', 'A61K3...",65009635,EP,2019-01-07,2019,"['pub.1056716149', 'pub.1007429996', 'pub.1032...",NaN,NaN
3749,EP-3677259-A1,"['A61K31/405', 'A61K45/06', 'A61P9/10', 'A61K3...",65009635,EP,2019-01-07,2019,"['pub.1056716149', 'pub.1007429996', 'pub.1032...",NaN,NaN
3750,EP-3821341-A4,"['G06N3/08', 'G06N3/063', 'G06N3/0454', 'G06F8...",71405112,EP,2019-01-03,2019,"['pub.1100928443', 'pub.1091522528', 'pub.1110...",NaN,NaN

In [46]:
pat_data_df_IE.to_csv(dir + "IE/pat_data_df_IE.csv", index = False)